/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/
.scribe-controls-modal-control-group {
  display: flex;
  flex-direction: row;
}
.scribe-control-record-btn {
  --icon-size: var(--icon-size-lg);
  background-color: red;
  .svg {
    height: 80px;
  }
}
